<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevint.waterloohacks_android" >
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <receiver android:name="navDrawerCloserReceiver">
                <intent-filter>
                    <action android:name="com.intent.CLOSE_DRAWER">
                    </action>
                </intent-filter>
            </receiver>
            <receiver android:name="beaconReceiver">
                <intent-filter>
                    <action android:name="com.intent.BEACON_INTENT">
                    </action>
                </intent-filter>
            </receiver>
        </activity>
        <activity
            android:name=".Activities.BluetoothBeaconActivity"
            android:label="@string/title_activity_bluetooth_beacon" >
            <receiver android:name="messageReceiver">
                <intent-filter>
                    <action android:name="com.intent.MESSAGE_INTENT">
                    </action>
                </intent-filter>
            </receiver>
        </activity>
        <activity
            android:name=".Activities.ShoppingListActivity"
            android:label="@string/title_activity_shopping_list" >
        </activity>
        <activity
            android:name=".Activities.AddItemActivity"
            android:label="@string/title_activity_add_item" >
        </activity>
    </application>

</manifest>
